.App {
  text-align: center;
}

.container {
  max-width: 400px;
  min-height: 450px;
  margin: 0 auto;
  background-color: antiquewhite;
  box-shadow: 0 0 10px gray;
  margin-top: 50px;
  padding: 15px 50px;
}

.text-center {
    text-align: center;
}

.transaction-list {
  margin:0;
  padding:0;
}

.transaction-list > li {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px gray;
  padding: 10px 5px;
  background-color: antiquewhite;
  margin: 5px 0;
}

.transaction-form input {
  width:100%;
  margin:10px 0;
  padding:5px 0
}

.expense-container {
  display: flex;
  text-align: center;
  justify-content: space-around;
  box-shadow: 0 0 10px gray;
}





